@charset "utf-8";

*{
    font-family: sans-serif;
}
body {
    background-color: #3B7252;
}

main{
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 10px 10px #94743E;
}

h1{
    color: #94743E;
}

h3{
    color: #94743E;
}

iframe{
     display: block; 
     margin: auto; 
}

.Contatos{
    position: relative;
    right: 530px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: max-content;
    margin: auto;
    box-shadow: 10px 10px #94743E;
}

.Titulo{
    border-radius: 10px;
    text-align: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    margin: auto;
    
}

p{
    text-align: justify;
}

.paginas{
    border-radius: 10px; 
    box-shadow: 5px 4px #94743E; 
    width: 85px; 
    background-color: white; 
    text-align: center;
    margin: auto;
}

.descricao{
    width: 300px;
}

a{
    text-decoration: none;
}